chiness-weekdays-sdk/.idea/
chiness-weekdays-sdk/chinese-weekdays-sdk.iml
chiness-weekdays-sdk/target/
chiness-weekdays-scraper/.idea/
chiness-weekdays-scraper/chinese-weekdays-scraper.iml
chiness-weekdays-scraper/target/
